Ecological_Networks_FS22.Rmd
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
_book/
_bookdown_files/
data/
playground/histograms_files/
playground/nullmodels_R/03-24_null_models_data/
packages.bib
*html
*log
*dvi
*aux
*Rproj
*pdf
